header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    img {
        height: 100%;
    }
}