<div class="viewFormUpdate">
    <form [formGroup]="noteForm" id="form-update">
        <header><button class="closeButton" (click)="close()">x</button></header>
        <h1>Update post-it</h1>
        <div id="row">
            <input placeholder="Title" formControlName="title" type="text">
        </div>
        <div id="row">
            <textarea placeholder="Description" formControlName="description" id="description-fields" cols="30" rows="5"></textarea>
        </div>
        <div>
            <button class="updateButton" (click)="onUpdate()">Update</button>
        </div>
    </form>
</div>
