<div id="screenBlack"  (click)="close()"></div>
<div class="viewFormUpdate">
    <form [formGroup]="noteForm" id="form-update">
        <header>
            <app-icon-button  (click)="close()" text="close"></app-icon-button>
        </header>
        <h1>Update post-it</h1>
        <div id="row">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" formControlName="title" type="text">
          </mat-form-field>
        </div>
        <div id="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description" id="description-fields" cols="30" rows="5"></textarea>
          </mat-form-field>
        </div>
        <div>
            <button class="updateButton" (click)="onUpdate()">Update</button>
        </div>
    </form>
</div>
