#listing-note{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    #container-card-note{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 280px;
        margin-bottom: 20px;
        width: 30%;
    }
}