<div style="background-color: rgba({{note.priority}},0.400)" id="card-note">
    <div id="header-card-note" style="background-color: rgba({{note.priority}},0.600)">
        <div (click)="updateForm(note.id)">
            <app-icon-button text="edit"></app-icon-button>
        </div>
    </div>
    <div (click)="onView(note.id)">
        <h2 id="title-card-note">{{note.title}}</h2>
        <div id="footer-card-note">
            <p id="date-footer-card-note"><strong>{{note.createdDate | date }}</strong></p>
        </div>
    </div>
</div>
