<div id="reader">
    <header><span>x</span></header>
    <h1>Title</h1>
    <p>21/12/2021</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa iure dolorem repudiandae soluta consequatur recusandae. Blanditiis quae esse sapiente ea minus eligendi at natus molestias laborum recusandae, suscipit maxime similique!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem illum perspiciatis ad, provident saepe alias? Omnis nulla sunt illum, laudantium est explicabo pariatur vel tempora quae, non, laboriosam nostrum dolore.</p>
   
</div>
