<div id="form-create">
    <div id="row">
        <label for="title">Title</label>
        <input name="title" type="text">
    </div>
    <div id="row">
        <label for="description">Description:</label>
        <textarea name="description" id="description-fields" cols="30" rows="5"></textarea>
    </div>
    <div id="row">
        <label for="feedback">Feedback:</label>
        <textarea name="feedback" id="feedback" cols="30" rows="5"></textarea>
    </div>
    <div id="row">
        <label for="deadline">Deadline</label>
        <input type="date" name="deadline">
    </div>
    <div>
        <button>Create</button>
    </div>
</div>
