<div (click)="onCreate()" [ngClass]="{displayNone: showForm === true, buttonCreate: showForm === false}">
    <button>+</button>
</div>
<div [ngClass]="{viewFormCreate: showForm === true, displayNone: showForm === false}">
    <div [formGroup]="noteForm" id="form-create">
        <header><button id="closeButton"  (click)="close()">x</button></header>
        <h1>Create post-it</h1>
        <div id="form-group">
            <input placeholder="Title" formControlName="title" type="text">
        </div>
        <div id="form-group">
            <textarea placeholder="Description" formControlName="description" id="description-fields" cols="30" rows="5"></textarea>
        </div>
        <div id="action-button">
            <button id="createButton" type="submit" (click)="onSubmitForm()">Create</button>
        </div>
    </div>
</div>
